.form {
    margin-top: 5px;
}

.control {
    margin-bottom: 1rem;
    flex-direction: row;
}

.control label {
    font-weight: bold;
}

.control input {
    display: inline-table;
    padding: 2px 10px;
}
